<!DOCTYPE html>
<head>
    <title>Jason Willems</title>
    <link href="/jasonwillems.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="shotcut icon" href="/favicon.png" />
</head>

<body>
    <div id="page">
       <div id="theheader" class="center">
        <div style="color:white; display:inline-block; margin-top: 20px; margin-left: 40px; font-size:45px"> 
            { ja : son } 
        </div>

        <div id="nav">
            <ul>
                <li><a href="/links" id="homelink"> { Jason } </a></li>
                <li><a href="/travel" id="travellink"> { Traveler } </a></li>
                <li><a href="/" id="bloglink"> { Writer } </a></li>
                <li><a href="/photos" id="photoslink"> { Photographer } </a></li>
                <li><a href="/illustrations" id="illustrationslink"> { Science Geek } </a></li>
            </ul>
        </div>
    </div>
