---
title: Jason's Blog
layout: blog
---

{% for post in paginator.posts %}         

{% if post.content contains '<!--more-->' %}
{{ post.content | split:'<!--more-->' | first }}
<span class="blogExpand">
  <a href="{{ post.url }}">Read More...</a>
</span>
{% else %}
{{ post.content }}
{% endif %}

</div>
</div>
<br/><br/><br/>
{% endfor %}
</div>



<div id="navigationBar"  class="center">
  <div id="nextimage" class="center" style="text-align:center; margin-left:auto; margin-right: auto; width:100%; vertical-align:middle;">
    <div class="pagination" style="text-align:center; margin-left:auto; margin-right: auto;">
      {% if paginator.next_page %}
      <a class="blogSelect" href="/blog/page{{paginator.next_page}}" style="float:left">&lt;&lt; Prev</a>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
        <a class="blogSelect" href="/blog" style="float:right">Next &gt;&gt;</a>
        {% else %}
        <a class="blogSelect" href="/blog/page{{paginator.previous_page}}" style="float:right">Next &gt;&gt;</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
